.cover__container{
    height: 100vh;
    object-fit: contain;
    box-shadow: inset 0 0 0 100rem rgba(0,0,0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cover__video{
   object-fit: cover;
   width: 100%;
   height: 100vh;
   position: absolute;
   z-index: -1;

}
.cover__name{
    color: white;
    font-size: 5rem;
    text-align: center;
}
.cover__description{
    color:white;
    margin-top: 0.8rem;
    font-size: 2.5rem;
}
@media (min-width: 768px){ 
    .cover__name{
        font-size: 8.8rem;
    }
    .cover__description{
        font-size: 4rem;
    }
}

