.about__container{
    padding: 2rem 0;
    background-color: #e5e3dd;
    
}
.about__contenido{
    padding: 2rem;
    
}
.about__imagen{
    height: 70vh;
    width: 100%;
    padding: 2rem;
}
.about__title{
    font-size: 5rem;
    margin-bottom: 1rem;
    text-align: center;
}

@media (min-width: 768px){ 
    .about__contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about__container{
        padding: 0 3rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
        
    }
    .about__imagen{
        height: 60vh;
    }
    .about__title{
        text-align: left;
    }
}

@media (min-width: 1000px){ 
    .about__imagen{
        height: 100vh;
    }
    .about__container{
        padding: 0 10rem;
    
    }
}