.slider__container{   
    padding: 3rem;
    background-color: #1b1a16;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider__titulo{
    color: white;
}
.slider__proyecto{
    margin-top: 2rem;
}
@media (min-width: 768px){ 
    .slider__proyectos_container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
}
.slider__desc{
    background-color: #3589dd;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:0;
    padding: 3rem;
    
}
.slider__h3{
    color:white;
}

.slider__p{
    color:white;
    
}
.slider__proyecto{
    width: 40rem;
    height: 30rem;
    margin: 2rem auto;
    position: relative;

}

.slider__proyecto:hover{
    opacity: 0.4;
}

.slider__proyecto img{
    width: 100%;
    height: 100%;
}

